html {
    font-size: 14px;
}

body {
    background-image: url("../templete/BG.png");
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#my-image,
#use,
#btn_download {
    display: none;
}



/* Canvas */
#myCanvas {
    width: 400px;
    height: 500px;
}

@media only screen and (max-width: 600px) {
    #myCanvas {
        width: 200px;
        height: 250px;
    }
}

/* .canvas_container {
    width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

#myCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
} */